# HRIS Application Service Configuration
PORT=4001
NODE_ENV=development

# PostgreSQL Database Configuration
DB_HOST=34.101.207.44
DB_PORT=5432
DB_NAME=wiseape-hris
DB_USER=nodeuser
DB_PASSWORD=your_password_here
DB_DIALECT=postgres
DB_LOGGING=false

# Upload configuration
UPLOAD_DIR=uploads
MAX_FILE_SIZE_MB=10
